/* General Navbar Styling */
.navbar {
  padding: 35px 20px;
  background-color: transparent;
  color: #978585;
  display: flex;
  justify-content: center;
  border-radius: .5rem;
}

/* Navigation List */
.navList {
  display: flex;
  list-style: none;
  gap: 5rem;
  padding: 0;
  margin: 0;
}

/* Navigation Links */
.navLink {
  color: rgb(26, 23, 23);
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
  transition: color 0.3s ease-in-out;
}

/* Hover Effect */
.navLink:hover {
  color: #58d432; /* Light Orange */
}

.toggleButton {
  width: 3rem;
  height: 3rem;
  border: none;
  border-radius: 50%;
  margin-left: 11rem;
  margin-top: -1rem;
  border: transparent;
  background-color: inherit;
  cursor: pointer;
  position: fixed; /* Makes the toggle button fixed */
}

.linkWrapper {
  display: inline-block; /* or block */
}


.darkOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(2, 2, 2, 0.6);
  z-index: 1000;
  pointer-events: none;
  opacity: 1;
  transition: opacity 0.5s ease;
}

.hidden {
  opacity: 0;
  pointer-events: none;
}


/* Responsive Design */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }

  .navList {
    flex-direction: column;
    gap: 15px;
  }
}

.FontAwesomeIcon{
  font-size: 1.5rem; 
}
