/* General Navbar Styling */
.navbar {
  padding: 35px 20px;
  background-color: transparent;
  color: #fff;
  display: flex;
  justify-content: center;
  border-radius: .5rem;
}

/* Navigation List */
.navList {
  display: flex;
  list-style: none;
  gap: 5rem;
  padding: 0;
  margin: 0;
}

/* Navigation Links */
.navLink {
  color: rgb(26, 23, 23);
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
  transition: color 0.3s ease-in-out;
}

/* Hover Effect */
.navLink:hover {
  color: #58d432; /* Light Orange */
}

.toggleButton {
  width: 3rem;
  height: 3rem;
  border: none;
  border-radius: 50%;
  margin-left: 11rem;
  margin-top: -1rem;
  background-color: rgba(137, 139, 141, 0.699);
  cursor: pointer;
  position: fixed; /* Makes the toggle button fixed */
}

/* Responsive Design */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }

  .navList {
    flex-direction: column;
    gap: 15px;
  }
}
