/*GLOBAL STYLES: WHAT WE WILL SEE CHANGE EVERYWHERE*/ 
  
body {
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   background-color: rgb(245, 241, 241);
} 


/*BUTTONS*/
 

 .exitButton {
  border-radius: 10px;
  background-color: rgb(231, 53, 29);
  color: white;
  border: none;
  width: 100px;

  cursor: pointer;
}



 h1{
  font-size: 3.5rem;
  margin-left: 2rem;
}

button{
  cursor: pointer;
}

.exitButton {
  border-radius: 10px;
  background-color: rgb(231, 53, 29);
  color: white;
  border: none; 
  padding: .6rem;
}

.homeButton {
  border-radius: 10px;
  background-color: green;
  color: white;
  border: none; 
  padding: 1rem;
}


/*

https://github.com/YungPharaoh65/Evergreen-culture.git

*/